ion-item{
  --min-height: 30px;

  ion-label{
  margin: 0px;
  margin-left: 10px;

   h1{
    font-weight: bold;
    font-size: 0.8rem;
    }

    p{
    font-size: 0.65rem;
    }
  }

  ion-note{
    font-weight: bold;
    font-size: 0.8rem;
    }
}

img {
  min-height: 100px;
  max-height: 100px;
}
